{% extends 'base.html.twig' %} {% block title %} Picture list {% endblock %} {% block content %}
<div class="col-md-12 mt-5 mb-5">
    <h1 class="text-muted h5">
        Choice your main picture
    </h1>
    {% for picture in pictures %}
    <div class="row">
        <div class="col d-flex">
            <div class="card mr-3" style="width: 10rem;">
                <img class="card-img-top" src="{{ asset(
                '/media/images/tricks/' ~ picture.name
              )|imagine_filter('avatar') }}" alt="Card image cap" />
                <div class="card-body mx-auto">
                    <p class="card-text">
                        <a href="{{
                  path(
                    'picture_set_main',
                    {
                      id: picture.id,
                      mode: 'set'
                    }
                  )
                  }}">
                            <span style="font-size: 30px; color: Dodgerblue;">
                <i class="fas fa-check-circle"></i>
              </span>
                        </a>
                    </p>
                </div>
            </div>
            {% else %}
            <tr>
                <td colspan="3">
                    no records found
                </td>
            </tr>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}