{% extends 'base.html.twig' %} 
{% block title %} Hello HomeController! {% endblock %} 
{% block body %}
<i class="fas fa-arrow-circle-up fa-2x" onclick="topFunction()" id="myBtn" title="Go to top"></i>
{% for message in app.flashes('success') %}
<div class="alert alert-success" role="alert">
	{{ message }}
</div>
{% endfor %}
<section class="jumbotron text-center">
	<h1 class="text-white">Choose your best Tricks</h1>
	<div class="arrow-down">
		<a href="#trickView">
			<i class="fas fa-arrow-circle-down fa-3x" data-toggle="collapse" href="#viewT"></i>
		</a>
	</div>
</section>
<div class="container justify-content-center" id="cible">
	{% include 'trick/_trick.html.twig' %}
</div>
{% endblock %} 

{% block javascripts %}
<script>
	//Get the button
	var mybutton = document.getElementById("myBtn");
	// When the user scrolls down 20px from the top of the document, show the button
	window.onscroll = function() {
		scrollFunction();
	};

	function scrollFunction() {
		if (
			document.body.scrollTop > 500 ||
			document.documentElement.scrollTop > 500
		) {
			mybutton.style.display = "block";
		} else {
			mybutton.style.display = "none";
		}
	}
	// When the user clicks on the button, scroll to the top of the document
	function topFunction() {
		document.body.scrollTop = 0;
		document.documentElement.scrollTop = 0;
	}
</script>
{% endblock %}