{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	{% for message in app.flashes('success') %}
		<div class="alert alert-success" role="alert">{{ message }}</div>
	{% endfor %}
	<section class="jumbotron text-center">
		<h1 class="text-white">Choose your best Tricks</h1>
	</section>
	<div class="arrow-down">
		<a href="#zone_a_pointer">
			<i class="fas fa-arrow-circle-down fa-3x" data-toggle="collapse" href="#collapseExample"></i>
		</a>
	</div>

</section>
<div class="container justify-content-center mt-5" id="cible">
	{% include 'trick/_trick.html.twig'  %}
</div>{% endblock %}{% block javascripts %}{% endblock %}
