{% extends 'profile.html.twig' %}

{% block title %}My Profil
{% endblock %}

{% block content %}
	<div class="col-md-6 mx-auto">
		<h1 class="mb-5">Edit User</h1>
		{{ include('user/profile/_form.html.twig', {'button_label': 'Update'}) }}
	</div>
{% endblock %}
