#contenu {
    min-height: 100%;
    position: relative;
}

html, body {
    height: 100%;
}

.wrapperhh {
    background: url(/media/images/snowboarding.jpg) no-repeat center top;
    background-size: cover;
    background-position: center;
    /* margin: 0 auto; */
    background-color: white;
    width: 600px;
    min-height: 500px;
    position: relative;
}

/******************* home **********************/

.jumbotron {
    background: url(/media/images/snowboarding.jpg) no-repeat center top;
    background-size: cover;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0 !important;
    background-position: center;
    min-height: 800px;
}

.jumbotron h1 {
    color: white;
    margin-top: 30vh;
}

.arrow-down {
    position: absolute;
    bottom: 5vh;
    right: 5vh;
}

.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/******************* message flash **********************/

.alert {
    padding: 10px;
    color: white;
    text-align: center;
    margin: 0;
    border: none;
}

.alert-success {
    background-color: green;
}

.alert-info {
    background-color: rgb(128, 0, 75);
}

.alert-error {
    background-color: red;
}

/******************* navbar & footer **********************/

.footer {
    background-color: darkgrey;
    width: 100%;
    height: 60px;
    display: inline-block;
}

.sf-toolbar-clearer {
    clear: unset;
    height: unset;
}

@media (max-width: 768px) {
    #navbarTop, .footer {
        display: none;
    }
    .navbarB {
        overflow: hidden;
        background-color: #444444;
        position: fixed;
        /* padding-top: 20vh; */
        flex-wrap: nowrap;
        /* bottom: 0px; */
        width: 100%;
    }
    .arrow-down {
        position: absolute;
        bottom: 10vh;
        right: 10vh;
    }
}

@media (min-width: 770px) {
    .navbarB {
        display: none;
    }
}

/***************** arrow up *************/

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    outline: none;
    color: #007bff;
    cursor: pointer;
    padding: 15px;
}

/***************** load more *************/

.content, .contentCom {
    display: none;
}

#loadMore2 {
    display: block;
}

#loadMoreC {
    display: block;
}

/*******************  **********************/

.add_new_picture {
    margin-top: -400px;
}

.Mimagexxx {
    width: 1110px;
    height: 400px;
}

#default {
    height: 400px;
}

.zz {
    position: relative;
    top: -500px;
    background-color: white;
}

.showImage {
    position: relative;
    background-color: white;
    z-index: 1;
    width: 100%;
    max-height: 400px;
}