html,
body {
    height: 100%;
}

#contenu {
    min-height: 100%;
    position: relative;
}


/******************* home **********************/

.jumbotron {
    background: url(/media/images/snowboarding.jpg) no-repeat center top;
    background-size: cover;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0 !important;
    background-position: center;
    min-height: 800px;
}

.jumbotron h1 {
    color: white;
    margin-top: 30vh;
}

.arrow-down {
    position: absolute;
    bottom: 5vh;
    right: 5vh;
}

.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


/******************* message flash **********************/

.alert {
    padding: 10px;
    background-color: rgb(55, 0, 128);
    color: white;
    text-align: center;
    margin: 0;
    margin-top: 48px;
    border: none;
}

.alert-success {
    background-color: green;
}

.alert-info {
    background-color: rgb(128, 0, 75);
}

.alert-error {
    background-color: red;
}


/******************* navbar & footer **********************/

.footer {
    background-color: darkgrey;
    width: 101%;
    height: 60px;
    display: inline-block;
}


/******************* trick **********************/

.trickBody {
    position: relative;
    top: -500px;
    width: 100%;
    background-color: white;
}

.img {
    width: 100%;
    height: auto;
}

.trickMedias {
    width: 10rem;
    height: 137px;
}

@media (max-width: 768px) {
    #navbarTop,
    .footer,
    .mainHome {
        display: none;
    }
    .navbarB {
        overflow: hidden;
        background-color: #444444;
        flex-wrap: nowrap;
        width: 100%;
    }
    .arrow-down {
        position: absolute;
        bottom: 10vh;
        right: 10vh;
    }
    .trickBody {
        position: relative;
        top: -100px;
        background-color: white;
    }
}

@media (min-width: 768px) {
    .navbarB {
        display: none;
    }
}


/***************** arrow up *************/

#myBtn {
    display: none;
    position: fixed;
    bottom: 70px;
    right: 15px;
    z-index: 99;
    outline: none;
    color: #007bff;
    cursor: pointer;
    padding: 15px;
}


/***************** load more *************/

.content,
.contentCom,
.seeMedia {
    display: none;
}

#loadMore,
#loadMoreC {
    display: block;
}


/******************* images **********************/

.add_new_picture {
    margin-top: -400px;
}

.showImage {
    position: relative;
    background-color: white;
    z-index: 1;
    width: 100%;
    max-height: 400px;
}

.iconeUp {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
    margin-right: 0px;
    margin-top: -20px;
}

.trickname {
    position: absolute !important;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    font-size: 24px;
}

.presentation {
    position: relative;
}