{% extends 'base.html.twig' %}

{% block title %}Edit Video{% endblock %}

{% block body %}
    <h1>Edit your Video</h1>

    {{ include('video/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
