{% extends 'base.html.twig' %}

{% block title %}Edit Trick{% endblock %}

{% block body %}
    <h1>Edit Trick</h1>

    {{ include('trick/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('trick_index') }}">back to list</a>

    {{ include('trick/_delete_form.html.twig') }}
{% endblock %}
